extends ../layout

block content
    .container-fluid.p-0 
        .d-flex.justify-content-between.align-items-center.mb-4
            h1.h3.mb-0 Subject List
            a.btn.btn-primary(href="/add-subject")
                i.bi.bi-plus-circle
                |  Add New Subject

        if message 
            .alert(class= status === 'success' ? 'alert-success' : 'alert-danger')
                | #{message}
        
        .row
            .col-12.col-xl-12
                .card
                    .card-body
                        if subjects && subjects.length
                            table.table.table-striped
                                thead
                                    tr
                                        th #ID
                                        th Name
                                        th User ID
                                        th Actions
                                tbody
                                    each subject in subjects
                                        tr
                                            td #{subject.Subject_ID}
                                            td #{subject.Name}
                                            td #{subject.User_ID}
                                            td.table-action
                                                a(href=`/edit-subject/${subject.Subject_ID}`)
                                                    i.align-middle(data-feather="edit-2")
                                                a(href="#", data-bs-toggle="modal", data-bs-target=`#deleteModal-${subject.Subject_ID}`)
                                                    i.align-middle(data-feather="trash")
                        else
                            p.text-muted No subjects found.
