extends ../layout

block content
    .container-fluid.p-0
        .d-flex.justify-content-between.align-items-center.mb-4
            h1.h3.mb-0 User List
            a.btn.btn-primary(href="/add-user") 
                i.bi.bi-plus-circle
                |  Add New User

        .row
            .col-12
                .card
                    .card-body
                        if messages.error
                            .alert.alert-danger.alert-dismissible.fade.show(role="alert")
                                | #{messages.error}
                                button.btn-close(type="button" data-bs-dismiss="alert" aria-label="Close")
                        
                        if messages.success
                            .alert.alert-success.alert-dismissible.fade.show(role="alert")
                                | #{messages.success}
                                button.btn-close(type="button" data-bs-dismiss="alert" aria-label="Close")

                        if users && users.length > 0
                            .table-responsive
                                table.table.table-striped
                                    thead
                                        tr
                                            th ID
                                            th First Name
                                            th Last Name
                                            th Email
                                            th Join Date
                                            th Actions
                                    tbody
                                        each user in users
                                            tr
                                                td #{user.user_ID}
                                                td #{user.FName}
                                                td #{user.LName}
                                                td #{user.Email}
                                                td #{new Date(user.CreationDate).toLocaleDateString()}
                                                td.table-action
                                                    a(href=`/edit-user/${user.user_ID}`)
                                                        i.align-middle(data-feather="edit-2")

                                                    // Delete modal trigger
                                                    a(href="#", data-bs-toggle="modal", data-bs-target=`#deleteModal-${user.user_ID}`)
                                                        i.align-middle(data-feather="trash")

                                                    // Delete Confirmation Modal
                                                    .modal.fade(id=`deleteModal-${user.user_ID}` tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true")
                                                        .modal-dialog.modal-dialog-centered
                                                            .modal-content
                                                                .modal-header
                                                                    h5.modal-title Delete User?
                                                                    button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                                                .modal-body
                                                                    p This will permanently delete the user.
                                                                .modal-footer
                                                                    button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
                                                                    form(action=`/delete-user/${user.user_ID}` method="POST")
                                                                        button.btn.btn-danger(type="submit") Delete
                        else
                            .text-center.py-4
                                p.text-muted No users found.
                                a.btn.btn-primary(href="/add-user") 
                                    i.bi.bi-plus-circle
                                    |  Add First User
