extends ../layout

block content
    .container-fluid.p-0 
        .d-flex.justify-content-between.align-items-center.mb-4
            h1.h3.mb-0 Students List
            a.btn.btn-primary(href="/add-student")
                i.bi.bi-plus-circle
                |  Add New Student

        .row
            .col-12.col-xl-12
                .card
                    table.table.table-striped
                        thead
                            tr
                                th Student Name
                                th Class
                                th Registered By
                                th.d-none.d-md-table-cell(style="width:25%") Registration Date
                                th Actions
                        tbody
                            each student in students
                                tr
                                    td #{student.F_name} #{student.L_name}
                                    td #{student.Class}
                                    td #{student.User_ID}
                                    td.d-none.d-md-table-cell #{new Date(student.registered_on).toLocaleString()}
                                    td.table-action
                                        a(href=`/edit-student/${student.Student_ID}`)
                                            i.align-middle(data-feather="edit-2")
                                        // Trigger modal
                                        a(href="#", data-bs-toggle="modal", data-bs-target=`#deleteModal-${student.Student_ID}`)
                                            i.align-middle(data-feather="trash")

        // DELETE CONFIRMATION MODAL (one per student)
        each student in students
            .modal.fade(id=`deleteModal-${student.Student_ID}`, tabindex="-1")
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Delete student?
                            button.btn-close(type="button", data-bs-dismiss="modal")
                        .modal-body
                            p This will delete student.
                        .modal-footer
                            button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Cancel
                            form(action=`/delete-student/${student.Student_ID}`, method="POST")
                                button.btn.btn-danger(type="submit") Delete
